.gallery-container {
    display: inline-block;
    padding: 15px 14px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px #0000001a;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    margin: 5px;
    width: 220px;
    height:350px;
    max-height: 400px;
    transition: all 0.8s ease;
    margin-top: 10px;
}

.gallery-container img {
    padding: auto;
    width: 80%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.gallery-container h3 {
    margin-bottom: 0px;
    color: #2c3e50;
}
.gallery-container p {
    text-align: center;
    margin-top: 0px;
    width:200px;
    max-width: 220px;
    overflow: hidden;
    word-wrap: break-word;
}

.gallery-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    overflow: visible;
    height: auto;
    max-height: 1000px;
    transform: scale(1.20);
    transition: all 0.5s ease;
    background-color: white;
}

