body{
    margin:0;
    background-color: white;
}


nav ul {
    padding: 30px 10px 30px 10px;
    margin-top:0px;
    margin-bottom: 0px;
    list-style-type: none;
    display: flex;
    gap: 70px;
    background-color: #2C3E50;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

